<header class="bg-white border-b-2 border-accent">
  <div
    class="container mx-auto flex flex-col sm:flex-row items-center justify-between p-4"
  >
    <!-- Logo -->
    <div class="flex items-center space-x-2">
      <img src="favicon.ico" alt="Logo" class="h-16 w-16" />
      <span class="font-bold text-primary text-3xl">
        <span class="rpo">RPO</span>Shop
      </span>
    </div>

    <!-- Título -->
    <h1 class="text-primary text-4xl font-semibold text-center my-2 sm:my-0">
      Tu tienda online preferida
    </h1>

    <!-- Iconos -->
    <div class="flex items-center space-x-6 relative">
      <!-- Botón Identifícate / Salir -->
      <button
        *ngIf="!isLoggedIn"
        class="text-primary hover:text-accent flex items-center space-x-2"
        (click)="toggleMenu()"
      >
        <i class="fas fa-user text-2xl"></i>
        <span>Identifícate</span>
      </button>
      <button
        *ngIf="isLoggedIn"
        class="text-primary hover:text-accent flex items-center space-x-2"
        (click)="logout()"
      >
        <i class="fas fa-sign-out-alt text-2xl"></i>
        <span>Salir</span>
      </button>

      <!-- Submenú -->
      <div
        *ngIf="menuOpen && !isLoggedIn"
        class="absolute top-12 right-0 bg-white shadow-md border rounded-md py-2 w-48"
      >
        <button
          class="block w-full text-left text-primary px-4 py-2 hover:bg-accent hover:text-white"
          (click)="openLoginModal()"
        >
          Iniciar Sesión
        </button>
        <button
          class="block w-full text-left text-primary px-4 py-2 hover:bg-accent hover:text-white"
          (click)="openRegisterModal()"
        >
          Regístrate
        </button>
      </div>

      <!-- Modal de Registro -->
      <div
        class="modal-backdrop fixed inset-0 z-50 flex items-center justify-center"
        *ngIf="isRegisterModalOpen"
      >
        <div class="bg-white rounded-lg shadow-lg p-6 w-96">
          <app-register (close)="closeRegisterModal()"></app-register>
        </div>
      </div>

      <!-- Modal de Login -->
      <div
        class="modal-backdrop fixed inset-0 z-50 flex items-center justify-center"
        *ngIf="isLoginModalOpen"
      >
        <div class="bg-white rounded-lg shadow-lg p-6 w-96">
          <app-login
            (loginSuccess)="isLoggedIn = true; closeLoginModal()"
            (closeMenu)="closeMenu()"
            (close)="closeLoginModal()"
            (openRequestPassword)="openRequestPasswordModal()"
          ></app-login>
        </div>
      </div>

      <!-- Modal para Request Password -->
      <div
        class="modal-backdrop fixed inset-0 z-50 flex items-center justify-center"
        *ngIf="isRequestPasswordModalOpen"
      >
        <div class="bg-white rounded-lg shadow-lg p-6 w-96">
          <app-request-password
            (close)="closeRequestPasswordModal()"
          ></app-request-password>
        </div>
      </div>

      <!-- Botón Carrito -->
      <button class="relative text-pretty hover:text-accent">
        <i class="fas fa-shopping-cart text-2xl"></i>
        <span
          class="absolute top-0 right-0 bg-accent text-white text-xs rounded-full px-1"
          >2</span
        >
      </button>
    </div>
  </div>
</header>
