<header class="bg-white border-b-2 border-accent">
  <div
    class="container mx-auto flex flex-col sm:flex-row items-center justify-between p-4"
  >
    <!-- Logo -->
    <div class="flex items-center space-x-2">
      <img src="favicon.ico" alt="Logo" class="h-16 w-16" />
      <span class="font-bold text-primary text-3xl"
        ><span class="rpo">RPO</span>Shop</span
      >
    </div>

    <!-- Título -->
    <h1 class="text-primary text-4xl font-semibold text-center my-2 sm:my-0">
      Tu tienda online preferida
    </h1>

    <!-- Iconos -->
    <div class="flex items-center space-x-6">
      <button
        class="text-primary hover:text-accent flex items-center space-x-2"
      >
        <i class="fas fa-user text-2xl"></i>
        <span>Identifícate</span>
      </button>
      <button class="relative text-pretty hover:text-accent">
        <i class="fas fa-shopping-cart text-2xl"></i>
        <span
          class="absolute top-0 right-0 bg-accent text-white text-xs rounded-full px-1"
          >2</span
        >
      </button>
    </div>
  </div>
</header>
