<div class="flex w-full h-full">
  <!-- Sidebar -->
  <app-sidebar
    [categories]="categories"
    [selectedCategoryId]="selectedCategoryId"
    (categorySelected)="onCategorySelected($event)"
  >
  </app-sidebar>

  <!-- Contenido principal -->
  <div class="flex-grow p-4">
    <app-product-list></app-product-list>
    <h2 class="text-xl font-bold mb-4">Productos</h2>
    <div *ngIf="products.length === 0" class="mb-4">
      No hay productos para esta categoría.
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
      <app-product-card *ngFor="let product of products" [product]="product">
      </app-product-card>
    </div>
  </div>
</div>
