<div
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
>
  <div class="max-w-md w-full bg-white shadow-lg rounded-lg p-6">
    <h2 class="text-2xl font-bold text-primary mb-4 text-center">
      Restablecer Contraseña
    </h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label
          for="newPassword"
          class="block text-sm font-medium text-gray-700"
        >
          Nueva Contraseña
        </label>
        <input
          id="newPassword"
          type="password"
          formControlName="newPassword"
          class="block w-full mt-1 px-3 py-2 border border-gray-300 rounded-md focus:ring-primary focus:border-primary"
          [ngClass]="{ 'border-red-500': isFieldInvalid('newPassword') }"
        />

        <!-- Error messages -->
        <div class="text-red-500 text-sm mt-1">
          <div
            *ngIf="isFieldInvalid('newPassword') && f['newPassword'].errors?.['required']"
          >
            La contraseña es obligatoria.
          </div>
          <div
            *ngIf="isFieldInvalid('newPassword') && f['newPassword'].errors?.['minlength']"
          >
            La contraseña debe tener al menos 8 caracteres.
          </div>
          <div
            *ngIf="isFieldInvalid('newPassword') && f['newPassword'].errors?.['pattern']"
          >
            La contraseña debe incluir al menos una letra mayúscula, un número y
            un carácter especial.
          </div>
        </div>
      </div>

      <!-- Submit button -->
      <div class="flex justify-end">
        <button
          type="submit"
          class="px-4 py-2 bg-accent text-white rounded-md hover:bg-opacity-80"
          [disabled]="resetPasswordForm.invalid || isLoading"
        >
          {{ isLoading ? "Cargando..." : "Restablecer Contraseña" }}
        </button>
      </div>

      <!-- Response message -->
      <div
        *ngIf="message"
        class="text-sm mt-4 p-2 rounded"
        [ngClass]="{
          'bg-green-100 text-green-600': message.includes('éxito'),
          'bg-red-100 text-red-600': !message.includes('éxito')
        }"
      >
        {{ message }}
      </div>
    </form>
  </div>
</div>
