<div class="p-6 max-w-lg mx-auto bg-white rounded-lg shadow-md">
  <h2 class="text-2xl font-bold text-primary mb-4">Restablecer Contraseña</h2>

  <!-- Mensaje de éxito o error -->
  <div
    *ngIf="message"
    class="text-sm mb-4"
    [ngClass]="{
      'text-green-500 bg-green-100': isLoading === false,
      'text-red-500': isLoading
    }"
  >
    {{ message }}
  </div>

  <form [formGroup]="requestPasswordForm" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label for="email" class="block text-sm font-medium text-gray-700">
        Correo Electrónico
      </label>
      <input
        id="email"
        type="email"
        formControlName="email"
        class="block w-full mt-1 px-3 py-2 border border-gray-300 rounded-md focus:ring-primary focus:border-primary"
      />
      <div
        class="text-red-500 text-sm mt-1"
        *ngIf="submitted && requestPasswordForm.get('email')?.errors"
      >
        <span *ngIf="requestPasswordForm.get('email')?.errors?.['required']"
          >El correo es obligatorio.</span
        >
        <span *ngIf="requestPasswordForm.get('email')?.errors?.['email']"
          >Introduce un correo válido.</span
        >
      </div>
    </div>
    <div class="flex justify-end">
      <button
        type="submit"
        class="px-4 py-2 bg-accent text-white rounded-md hover:bg-opacity-80"
        [disabled]="isLoading"
      >
        {{ isLoading ? "Enviando..." : "Enviar" }}
      </button>
    </div>
  </form>
</div>
